 
  

<div class="container text-center">
	

	<div class="row">
		 
		
				<ul class="list-unstyled">
					<li><img src="http://placehold.it/150x150" class="img-circle img-thumbnail"></li>
					<li> <h3> Hola! Soy <strong><%=  @blog.user.username  %></strong> </h3> </li>
					<li>  <p> <%=  @blog.user.bio  %> <br></p></li>
					<li> me contecté por última vez el: <%=  @blog.user.last_sign_in_at  %></li>					 
				</ul>
					  

				<ul class="list-inline">
					<li> <a href="http://www.twitter.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("twitter.png") %></a> </li>					
					<li> <a href="http://www.facebook.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("facebook.png") %></a></li>
					<li> <a href="http://www.linkedin.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("linkedin.png") %></a></li>
					<li> <a href="mailto:<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("email.png") %></a></li>



				</ul> 


			</div>

	</div>

</div>



 
 <!-- 
  t.string   "email",                  default: "", null: false
    t.string   "encrypted_password",     default: "", null: false
    t.string   "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer  "sign_in_count",          default: 0,  null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.inet     "current_sign_in_ip"
    t.inet     "last_sign_in_ip"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "username"
    t.text     "bio"
    t.string   "twitter"
    t.string   "facebook"
    t.string   "linkedin" -->

