<ul class="list-inline text-center">
	<li> <a href="http://www.twitter.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("twitter.png") %></a> </li>					
	<li> <a href="http://www.facebook.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("facebook.png") %></a></li>
	<li> <a href="http://www.linkedin.com/<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("linkedin.png") %></a></li>
	<li> <a href="mailto:<%= @blog.user.twitter %>" target="_blank"><%=  image_tag("email.png") %></a></li>



</ul> 