<!DOCTYPE html>
<html>
<head>
	<title>Blogueate laout blogindex</title> 

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	
	<%= csrf_meta_tags %>
	
</head>
<body>
	
	<%= render 'layouts/bloglayout/navbar' %>
	<%= render 'layouts/bloglayout/jumbotron' %>


	
	<div class="row" style="margin-top:50px;">
		
		<div class="col-md-5">
			<%= render 'layouts/bloglayout/formwriter' %>
		</div>
		

		<div class="col-md-7">
			
			<%= render 'layouts/bloglayout/allposts' %>

		</div>


	</div><!-- row-->

	


	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
